div {
	margin-top: 5px;
	margin-bottom: 5px;
}

#modal {
	background-color: lightgray;
	display: none;
	height: 100%;
	left: 0px;
	margin: 0px;
	opacity: 0.95;
	padding: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1;
}

#modalContent {
	background-color: white;
	display: none;
	height: 30%;
	margin: 12.5% 25%;
	padding: 5% 10%;
	width: 30%;
}
